<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NodeKittenDesktop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NodeKittenIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2970D51E194A6D8C00EEAC2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2970D542194A6D8C00EEAC2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2970D55D194A6D9A00EEAC2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2970D57C194A6D9A00EEAC2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
